%footer
	.container
		.row.block
			.col-sm-12
				%h1.text-center
					Contacto / Reservas
			.col-sm-6
				%p.text-center
					Estimado cliente: 
					Si deseas hacer una cotización, te rogamos llamar a nuestros teléfonos o escribirnos a nuestro correo indicando los siguientes datos
				%p.text-center
					Nelson: +56 9 9335 5579
				%p.text-center
					Olguita: +56 9 9972 7122
				%p.text-center
					E-mail: tinajasdeiloca@gmail.com

			.col-sm-6