#modal.modal.fade( role = 'dialog' )
	.modal-dialog
		.modal-content
			.close-modal( data-dismiss = "modal" )
				.lr
					.rl
			#photo.modal-body
			#info.modal-footer

#modal-prod.modal.fade( role = 'dialog' )
	.modal-dialog
		.modal-content
			.close-modal( data-dismiss = "modal" )
				.lr
					.rl
			.modal-body
			.modal-footer